@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.darker {
  background-color: #dcdcdc;
}
body::before {
  @apply dark:bg-slate-800;
  content: "";
  background-image: url("../img/rak_buku_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60vmax;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00b3b3;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
.for_alert {
  position: fixed;
  top: 61px;
  right: 17%;
  left: 17%;
  margin-bottom: 10px;
  opacity: 1;
  z-index: 99999;
  list-style: none;
  text-align: center;
}

div.full_card {
  width: 100%;
  max-width: 1100px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  padding: 14px 0 14px 0;
  max-width: 396px;
  text-align: left;
}
.card .card_header .card_greeting {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #00ccc9;
  text-align: left;
  margin-bottom: 14px;
}
.card .card_header .card_introduction {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.2;
  color: #949494;
  text-align: left;
  margin-bottom: 10px;
}
.card .card_header .card_logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.card .card_header .card_logo .img_logo {
  width: 100%;
  height: 100%;
}
.card .card_body .input_photo {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card .card_body .input_photo .label_photo {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.card .card_body .input_photo .label_photo .img_preview {
  width: 100px;
  height: 100px;
  border: 3px solid rgb(200, 200, 200);
  object-fit: cover;
}
.card .card_body .input_photo .label_photo .cam_logo {
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  @apply dark:bg-dark;
}
.card .card_body .input_photo .label_photo .cam_logo i {
  color: #00ccc9;
}
.card .card_body .is_account {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #949494;
}
.card .card_body .is_account .link_to_login {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #00ccc9;
}

.strip_text {
  width: auto;
  margin: 10px 8px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  color: rgb(124, 124, 124);
}
.strip_text > span {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #949494;
}
.strip_text > span::before {
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
  background: #d7dade;
  margin-right: 15px;
  right: 100%;
}
.strip_text > span::after {
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
  background: #d7dade;
  left: 100%;
  margin-left: 15px;
}

.input_group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input_group > .form_control {
  position: relative;
  min-width: 0;
  flex: 1 1 auto;
  width: 1%;
}
.input_group .card_btn_pass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.input_group .place_label {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  z-index: 2;
  cursor: text;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #949494;
}
.input_group .place_label.label_modal {
  left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #949494;
}
.input_group > :is(.form_control:not(:placeholder-shown), .form_control:focus) + .place_label {
  top: 20%;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1.5;
  color: #949494;
}
.input_group > :is(.form_control:not(:placeholder-shown), .form_control:focus) + .place_label.label_modal {
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.5;
  color: #949494;
}
.input_group .card_btn_pass.active .bi::before {
  content: "\f33f";
}

.form_control {
  border: 1px solid #00b3b3;
  padding: 15px 25px;
  min-height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #949494;
  border-radius: 0.75rem;
  width: 100%;
  @apply dark:bg-slate-900 dark:border-[#949494];
}
.form_control:focus {
  color: #949494;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  @apply dark:border-blue-200 dark:shadow-slate-400 dark:shadow-[0_0_0_0.25rem];
}

.btn {
  padding: 10px 0;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.btn.btn_primary {
  background-color: #00ccc9;
  border-color: #00ccc9;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
}
.btn.btn_primary:hover {
  background-color: #00b3b3;
  border-color: #00b3b3;
}
.btn.btn_secondary {
  background-color: #949494;
  border-color: #949494;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
}
.btn.btn_secondary:hover {
  background-color: #009999;
  border-color: #009999;
}
.btn.btn_warning {
  @apply bg-yellow-400 hover:bg-yellow-500;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
}
.btn.btn_reset {
  @apply bg-red-500 hover:bg-red-600;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
}
.btn.btn_cancel {
  @apply bg-gray-500 hover:bg-gray-600;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
}
.btn.btn_back_to_default_img {
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #eaeaea;
  @apply px-5 text-center;
  background-color: #949494;
  border-color: #949494;
}
.btn.btn_back_to_default_img:hover {
  background-color: #009999;
  border-color: #009999;
}

.link_back {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #00ccc9;
  margin-right: 10px;
}

.link_btn {
  @apply px-5 text-center;
}

.link {
  padding: 10px 0;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}
.link_primary {
  background-color: #00ccc9;
  border-color: #00ccc9;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #eaeaea;
}
.link_primary:hover {
  background-color: #00b3b3;
  border-color: #00b3b3;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#nav-menu .nav-list .active {
  color: #00b3b3;
}
#nav-menu .nav-list .dropdown-item.active {
  @apply dark:bg-dark bg-white dark:hover:bg-gray-800 hover:bg-gray-100;
}
#nav-menu .nav-list .img_profil {
  @apply w-10 h-10 rounded-full object-cover;
  border: 3px solid #00b3b3;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark transition duration-300 ease-in-out dark:bg-white;
}

.social-media {
  @apply w-9 h-9 mr-3 rounded-full flex justify-center items-center border border-slate-300 text-slate-300 hover:border-primary hover:bg-primary hover:text-white;
}

.hamburger-active span:nth-child(1) {
  @apply rotate-45;
}
.hamburger-active span:nth-child(2) {
  @apply scale-0;
}
.hamburger-active span:nth-child(3) {
  @apply -rotate-45;
}

:is(#dark-toggle, #is_read, #is_read_modal):checked ~ label .toggle-circle {
  @apply translate-x-3;
}

.table_container {
  max-height: 62vh;
  overflow-y: auto;
}
.table_container table {
  overflow: hidden;
  border-radius: 10px;
}
.table_container table thead tr th.th_thead {
  @apply text-xs lg:text-sm font-medium text-white lg:px-6 lg:py-4 px-3 py-2 text-left;
}
.table_container table tbody tr td.td_tbody {
  @apply text-xs lg:text-sm font-medium text-light-green lg:px-6 lg:py-4 px-3 py-2 text-left;
}

.pop_up_wrapper {
  position: relative;
}
.pop_up_wrapper > .pop_up.on_pop {
  z-index: 998;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(75%, 0);
  width: 600px;
  background-color: #eaeaea;
  @apply dark:bg-slate-800;
  box-shadow: -5px 5px 20px 0px grey;
  padding: 10px 15px;
  border-radius: 10px;
}
.pop_up_wrapper > .pop_up.on_pop.pop_up_modal {
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 225px;
}
.pop_up_wrapper > .pop_up.on_pop.pop_up_modal .pop_up_close button {
  @apply p-2;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_header .pop_up_title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eaeaea;
  @apply dark:text-white text-dark;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_header .pop_up_close {
  @apply cursor-pointer;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_header .pop_up_close button {
  @apply px-4;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_table .pop_up_content_image {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 3px 20px 0px grey;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_table .pop_up_content_image img {
  width: 100%;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pop_up_wrapper > .pop_up.on_pop .pop_up_button button {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .pop_up_wrapper > .pop_up.on_pop {
    width: 100%;
    right: 50%;
    top: -5%;
    transform: translate(50%, 50%);
  }
}
.pop_up_wrapper > .pop_up.on_hidden {
  display: none;
}

.tr_show {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4;
  color: #0f172a;
  @apply dark:text-white;
}
.tr_show th,
.tr_show td {
  padding-bottom: 5px;
  word-wrap: normal;
}

.modal_box {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(94, 94, 94, 0.5);
  @apply dark:bg-[rgba(15,15,15,0.7)];
  padding-top: 50px;
}
.modal_box .modal_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
  color: #eaeaea;
}
.modal_box .modal_close:hover, .modal_box .modal_close:focus {
  color: #f44336;
  cursor: pointer;
}
.modal_box .modal_content {
  @apply bg-white dark:bg-slate-700;
  border-radius: 10px;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  max-width: 400px;
  /* Could be more or less, depending on screen size */
  border: 0 solid #00b3b3;
}
.modal_box .modal_content .modal_container {
  padding: 16px;
  text-align: center;
}
.modal_box .modal_content .modal_container .modal_image {
  width: 150px;
  @apply mx-auto rounded-[10px] mt-4 mb-6;
  box-shadow: 0px 0px 10px 3px rgba(101, 101, 101, 0.75);
}
.modal_box .modal_content .modal_container .modal_image img {
  width: 100%;
  object-fit: cover;
}
.modal_box .modal_content .modal_container .modal_header {
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.5;
  color: #00b3b3;
}
@media screen and (max-width: 400px) {
  .modal_box .modal_content .modal_container .modal_header {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .modal_box {
    height: 100%;
  }
  .modal_box .modal_content {
    @apply mx-5;
  }
}

.gs_trigger {
  opacity: 0;
  visibility: hidden;
}

.footer {
  @apply bg-gray-100 dark:bg-slate-700 lg:px-24 px-12 py-10;
  min-height: 30vh;
}
.footer .footer_content {
  @apply lg:mx-auto lg:w-1/2 w-full lg:mb-0 mb-12;
}
.footer .footer_content .footer_title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(51, 65, 85);
  @apply dark:text-white;
  margin-bottom: 20px;
}
.footer .footer_content .footer_body {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(51, 65, 85);
  @apply dark:text-white;
}
.footer .footer_content .footer_body ul li {
  display: flex;
}
.footer .footer_content .footer_body ul li:not(:last-child) {
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
